body {

  background-color: #f2f3f7;
}

/*------------------------------------------------------------ Nav bar*/

.nav {
  border-style: solid;
  border-width: 5px;
  border-radius: 20px;

}

.nav-item {
  text-align: center;
  margin: 0;
}

.nav-link {
  color: #1e2126;
  display: block;
}

.nav-link:hover {


  color: #c4c9d1;

}

.nav {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .nav {
    border-style: none;
    display: inline-block;
    text-align: center;
    margin-top: 30px;
    padding-bottom: 20px;
  }
  .nav-item {
    display: inline-block;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    font-weight: 400;
  }


  .nav-link:hover {


    color: #c4c9d1;

  }
}

/*----------------------------------------------------------------------------------- Home page section*/

section {
  margin: 0;
}

.main-image {
  width: 100%;
}

.home-header-container {

  margin: 8% 8%;
}

.home-header {
  text-align: center;
  font-size: 50px;
}

@media screen and (min-width: 576px) {
  section {
    margin-top: 0;
  }

  .home-header-container {

    margin-top: 20px;

  }

  .home-header {
    font-size: 40px;

  }



}

@media screen and (min-width: 780px) {
  .home-header {
    font-size: 3.5em;

  }


}

@media screen and (min-width: 1024px) {
  .home-header {
    font-size: 4.5em;

  }
}

@media screen and (min-width: 1440px) {
  .home-header {
    font-size: 7em;

  }
}

/* ------------------------------------------------------------------------------------- Footer*/

footer {
  background-color: #1a1b1c;
}

.footer-header {

  color: white;
  text-align: center;
  padding-top: 10px;
  text-decoration: none;



}

.footer-header:hover {
  color: #4c4c56;
}

a:link {

  text-decoration: none;
}

.social-links {

  text-align: center;
}

.social-links li a i {

  color: white;
}

.social-links li a i:hover {

  color: #4c4c56;

}

/* --------------------------------------------------------------------------- Works*/

.Works-header {

  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.Images {

  width: 90px;
  height: 90px;
  display: inline-block;

  margin: 0.5%;
  text-align: center;
}

.Images:hover {

  border-width: 5px;
  border-style: solid;
  border-color: black;


}

.works {
  display: inline-block;
  width: 100%;


  text-align: center;
}

.video {
  width: 100%;
}

@media screen and (min-width: 576px) {
  .Images {
    width: 150px;
    height: 150px;

  }

  .Works-header {


    margin-top: 2.5%;
    margin-bottom: 2.5%;
  }
}

@media screen and (min-width: 768px) {
  .Images {
    width: 200px;
    height: 200px;

  }
}

@media screen and (min-width: 1024px) {
  .Images {
    width: 250px;
    height: 250px;

  }
}

@media screen and (min-width: 1440px) {
  .Images {
    width: 300px;
    height: 300px;

  }
}

/* --------------------------- Exhibitions*/


p

{
text-align: center;  
  
}

input[type=text], select, textarea {
  width: 65%;
  display: block;
  
  
}

label
{
  
  display: block;
  
}

.form

{
  
  width:100%;
}













/* ----------------------------------------------------------------------------- About page*/

.about {

  width: 90%;
  margin-left: 2%;
  text-align: center;

}

.about-header {

  margin-left: 2%;
  text-align: center;

}

/*------- Image and container -- */
.about-image {
  width: 95%;
  text-align: center;
}


.about-container {
  text-align: center;
}

/*------- Media queries -- */

@media screen and (min-width: 576px) {
  .about {
    text-align: left;

  }


  .about-image {
    height: 70%;

    width: 70%;
  }
}




@media screen and (min-width: 992px) {
  
  .about-image
  
  {
  
  width: 90%;
  height: 90%;
    
  
  }
  
  .about-header
  
  {
  
  text-align: left;  
    
  }
  
  .personal
  
  {
    
    margin-top: 2%;
  }
  
  
}
